
<!-- <div>
    <li *ngFor="let a of groupset">
        {{a.id}}&nbsp;{{a.name}}
    </li>
</div> -->

 <!-- <div>
    <li *ngFor="let a of sceneset">
        {{a.name}}&nbsp;{{a.groups}}
    </li>
</div> -->

 <!-- scene selector -->
 <div *ngIf="!selectedScene">
    <h1 style="margin: auto; text-align: center;">Arkham</h1>
    <button class="nbr"
     *ngFor="let a of sceneset" (click)="onSelectScene(a)">
        {{a.name}}
 </button>
</div>
<!-- neighboorhood selector -->
<div *ngIf="sceneGroups&&!selectedGroup&&!selectedCard">
    <h1 *ngIf="selectedScene">{{selectedScene.name}}</h1>    
    <button class="nbr" 
     *ngFor="let a of sceneGroups; let i=index" (click)="onSelectGroup(a)"
     style="background-color: {{a.color}};">     
        &nbsp;{{a.name}}&nbsp;
        <span class="counter">{{clueCounter[i]}}</span>
    </button>
</div>
<!-- myth selector -->
<div *ngIf="selectedScene&&!selectedCard">      
<!-- clue -->
<button (click)="onClue()"><img src="/assets/icons/clue.png"></button>
<!-- gate -->
<button (click)="onMyth(true)"><img src="/assets/icons/gate.png"></button>
<!-- doom -->
<button (click)="onMyth(false)"><img src="/assets/icons/doom.png"></button>
<!-- news -->
<button (click)="onNews()"><img src="/assets/icons/news.png"></button>
<!-- panic -->
<button *ngIf="scenePanic"
(click)="onPanic()"><img src="/assets/icons/panic.png"></button>
<!-- discard -->
<button (click)="onDiscard()"><img src="/assets/icons/discard.png"></button>
</div>
<!-- card show -->
<div *ngIf="selectedCard">
    <img src="assets/cardscans/{{selectedCard.id}}.jpg">
    
    <button class="roll" (click)="onRoll(true)">
        <img src="/assets/icons/yes.png"></button>
    <button *ngIf="selectedGroup"
    class="roll" (click)="onRoll(false)">
        <img src="/assets/icons/no.png"></button>
    <p>{{selectedCard.id}}&nbsp;
        {{selectedCard.groupId}}&nbsp;
        {{selectedCard.sceneId}}
    </p>
    <button class="nbrTip" 
     *ngIf="selectedCardGroup"
     style="background-color: {{selectedCardGroup.color}};">     
       {{selectedCardGroup.name}}      
    </button>
</div>