/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Caslon;
    src: url(assets/Caslon.otf) format("opentype");
}

body{
    font-family: 'Caslon';
    background-color: #a6ab9f;
}

img {
    width: 100%;
    height: auto;
}
div{
    text-align: center;
}

/* neighboorhood buttons */
.nbr {    
    font-family: 'Caslon';
    font-size: 200%;
    width: fit-content;
    height: 5rem;    
    background-color: darkgray;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 1rem;
    position: relative;
}
.nbrTip {
    font-family: 'Caslon';
    font-size: 200%;
    width: fit-content;
    height: 2rem;    
    background-color: darkgray;
    /* border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 1rem; */
    position: absolute;
    top: 0px;
    right: 0;
    padding: 0%;
}
/* all buttons */
button{    
    width: 8rem;
    margin: 5px;
    padding: 5px;
    background: none;
    border-style: none;
}
/* roll buttons */
.roll{    
    width: 8rem;
    margin: 5px;
    padding: 5px;
    background: none;
    border-style: none;
}

.bordimg{    
    border-image-slice:145 153 136 124;
border-image-width:20px 20px 20px 20px;
border-image-outset:0px 0px 0px 0px;
border-image-repeat:stretch stretch;
border-image-source:url(assets/border.png);
}

.counter {   
    top: 0;
    right: 0;
    position: absolute; 
    font-size: 50%;
    width: 1.2rem;
    border-radius: 1rem;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}